<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328241088096-oiqrc22rvb3lausq64n69hhuq6chbkbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328241088096-oiqrc22rvb3lausq64n69hhuq6chbkbk</string>
	<key>API_KEY</key>
	<string>AIzaSyBTca1u6yUwYzKwT0-Sm3gZpoduGew5qsY</string>
	<key>GCM_SENDER_ID</key>
	<string>328241088096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.delight</string>
	<key>PROJECT_ID</key>
	<string>delight-dc5ae</string>
	<key>STORAGE_BUCKET</key>
	<string>delight-dc5ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328241088096:ios:86b044283cb00383052505</string>
</dict>
</plist>